@charset "utf-8";
/* CSS Document */
/******************************************HOMEPAGE******************************************/
html{
	margin:0;
	padding:0;
	background-color:#000;
	font-family:"Century Gothic";
	width:100%;
}
body{
	margin:0 auto;
	padding:0;
	width:53em;
	background-color:#D0B8A5;
}
.skiplinks{
	margin:0;
	padding:0;
	list-style-type: none;
}
.skiplinks a,
.skiplinks a:link,
.skiplinks a:visited{
	position:absolute;
	top:-999em;
	padding:0.5em 0.75em;
	background-color:#D0B8A5;
	color:#fff;
	text-decoration:none;
	font-size:0.5em;
	font-weight:bold;
}
.skiplinks a:hover,
.skiplinks a:focus,
.skiplinks a:active {
	top: 0;
}

/**********HEADER**********/
#top-nav{
	position:relative;
}
.logo{
/*	position:absolute;*/
	width:20%;
	float:left;
}
.main-nav{
	background-color:#FF4F00;
	width: 100%;
}
nav ul{
	background-color:#FF4F00;
	color:#D0B8A5;
	list-style-type:none;
}
nav li {
	margin-right:5em;
	padding-bottom:0.38em;
	border-bottom:#D0B8A5 thick solid;
	display:inline;
	color:#D0B8A5;
}
nav a,
nav a:link,
nav a:visited{
	display:inline-block;
	padding:0.7em 1em;
	text-decoration:none;
	text-transform: uppercase;
	color:#D0B8A5;
	
}
nav .current a,
nav .current a:link,
nav .current a:visited{
	color:#fff;
}
nav a:hover,
nav a:focus,
nav a:active{
	color:#fff;
}


/**********CONTENT**********/
#content{
	/*background-color:#3C3;
	position:relative;*/
}

/*****sidepanel*****/
#sidepanel{
	clear:both;
	float:left;
	width:24%;
	padding-left: 2em;
	padding-right:2em;
	padding-bottom:1.5em;
}
.about-me{
	width: 100%;
}
.about-me p{
	color:#000;
	font-size:20px;
}
.slogan {
	
}


/*****Latest work*****/
#latest-work {
	margin-left: 17em;
	margin-top: 6em;
}
#latest-work h1{
	margin:0;
	width:40%;
}

h1{
	text-transform:uppercase;
	color:#FFF;
	border-bottom:#FF4F00 thick solid;
}
.slides-wrapper{
	margin:0;
	padding:0;
	width:488.3px;
	height:373px;
	overflow: hidden;
	border: 1px solid #FF4F00;
}
.slideshow {
	height:373px;
	margin: 0 0 1.3em;
	overflow: hidden;
	padding: /*4px*/ 0;
	position: relative;
	-moz-box-shadow: 0 -1px 0 #eeecd4, 0 1px 0 #eeecd4;
	-webkit-box-shadow: 0 -1px 0 #eeecd4, 0 1px 0 #eeecd4;
	box-shadow: 0 -1px 0 #eeecd4, 0 1px 0 #eeecd4;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.slides {
	height:381px;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 1488px;
}

.slide {
	display: inline;
	float: left;
	height: 381px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 488px;
}

.slide .img {
	width: 100%;
}

p{
	color:#FFF;
}

/*************FOOTER************/
footer{
	margin:0;
	padding:1px 1px 1px 70px;
	clear:both;
	background-color:#FF4F00;
}
#footer-nav{
}
#social-media p{
	margin:0;
	padding-left:3em;
	padding-right:1em;
	float:left;
}
.social-links{
	float:left;
}
.media-link{
	padding-right:1em;
	float:left;
}
.copyright{
	text-align:center;
}
.back-up{
	color:#000;
	text-decoration:none;
}

/******************************************WORK PAGE-MAIN******************************************/

#work-sidepanel {
	clear: both;
	float: left;
	width: 28%;
}

#sidepanel-nav ul {
	color:#fff;
	list-style-type:none;
}
.page-nav a{
	color:#FF4F00;
/*	font-weight:bold;*/
}
.page-nav p{
	margin-top: -1em;
}
#sidepanel-nav li {
	padding-top: 1.38em;
	display:inline;
	color:#fff;
	font-size:20px;
}
.border-right {
	height:1em;
	border-right:#fff thick solid;
}
#sidepanel-nav a,
#sidepanel-nav a:link,
#sidepanel-nav a:visited {
	display:inline-block;
	padding:0.7em 1em;
	text-decoration:none;
	color:#fff;
}
#sidepanel-nav .current a,
#sidepanel-nav .current a:link,
#sidepanel-nav .current a:visited {
	color:#FF4F00;
	border-right:#FF4F00 thick solid;
}
#list-work {
	margin-left: 17em;
	margin-top: 6em;
	margin-right: 1em;
}
#list-work h1{
	margin:0;
	width:32%;
}
#list-work p{
	color:#000;
}
.work p{
	margin:0;
	padding:0;	
}
.work h2{
	margin-top:2em;
}
/*********************************WORK PAGES********************************/
.work img{
	border:#FF4F00 thin solid;
}
#thumb-work {
	margin-left: 17em;
	margin-top: 6em;
}
#thumb-work h1{
	margin:0;
	width:65.6%;
	font-size:1.5em;
}
.work img {
	margin-bottom:0.5em;
	margin-right:0.5em;
}
.work-content{
	width:26em;
}
/******************************************CONTACT PAGE******************************************/
.contact-info{
	margin-bottom:3em;
	color:#FF4F00;
	font-size:16px;
}
.contact-info p{
	font-size:14.9px;
}

#contact-form {
	margin-left: 17em;
	margin-top: 6em;
}
#contact-form h1{
	margin:0;
	width:60%;
}
form {
	color:#FF4F00;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	margin: 0;
	padding: 1em;
	width: 17.8em;
}
label{
	display:block;
}

